@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=IBM+Plex+Sans:wght@400;500;600&display=swap");

body {
  font-family: "IBM Plex Sans";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F4FA !important;
  color: #000 !important;
}

.btns{
  display: flex;
  justify-content: space-between;
}

.tool{
  /* border: 1px solid #fff; */
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 35%);
}

/* .btns > .tool{
  box-shadow:rgb(0 0 0 / 35%);
} */

/* .form-control{
  background-color: #212529 !important;
  color: #C8DBBE !important;
  border: 1px solid #fff !important;
} */